body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.action-btns,
.reset-btn {
  display: inline-flex;
  justify-content: space-evenly;
  button {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 0.3rem 0.8rem;
    min-width: 3rem;
    margin: 3px;
    font-size: larger;
    background-color: black;
    color: white;
    border-radius: 10px;
    transition: all 500ms ease;
    border: 0px;
    justify-content: center;
  }
  button:hover {
    border-radius: 2px;
    cursor: pointer;
    background-color: brown;
  }
}
